<div class="header">
    <h1>Ng Material Toolkit</h1>
</div>

<!-- TYPOGRAPHY -->
<div class="container container_header">
    <h2><strong>1) Typography</strong></h2>
</div>
<div class="container">
    <div class="mat-display-4">This is display 4</div>
    <div class="mat-display-3">This is display 3</div>
    <div class="mat-display-2">This is display 2</div>
    <div class="mat-display-1">This is display 1</div>

    <div class="mat-headline">This is a heading for h1</div>
    <div class="mat-title">This is a heading for h2</div>
    <div class="mat-subheading-2">This is a heading for h3</div>
    <div class="mat-subheading-1">This is a heading for h4</div>

    <div class="mat-body-1">This is body text</div>
    <div class="mat-body-2">This is bold body text</div>
    <div class="mat-caption">This is caption text</div>

    <div class="mat-typography">
        <h1>This is a heading for h1</h1>
        <h2>This is a heading for h2</h2>
        <h3>This is a heading for h3</h3>
        <h4>This is a heading for h4</h4>
    </div>
</div>
<!-- /TYPOGRAPHY -->

<!-- BUTTONS -->
<div class="container container_header">
    <h2><strong>2) Buttons</strong></h2>
</div>
<div class="container">
    <!-- FLAT BUTTONS -->
    <div>
        <button mat-button>Button</button>
        <button mat-raised-button>Raised</button>
        <button mat-flat-button>Flat</button>
        <button mat-stroked-button>Stroked</button>
    </div>
    
    <div>
        <button mat-icon-button>Icon</button>
        <button mat-fab>Fab</button>
        <button mat-mini-fab>Mini</button>
    </div>
    
    <div>
        <button color="primary" mat-button>Primary</button>
        <button color="accent" mat-button>Accent</button>
        <button color="warn" disableRipple mat-button>Warn</button>
        <button color="primary" mat-raised-button>Primary</button>
        <button color="accent" mat-raised-button>Accent</button>
        <button color="warn" mat-raised-button>Warn</button>
    </div>

    <!-- TOGGLE -->

    <div>
        <mat-button-toggle #toggleBtn checked disableRipple>Toggle</mat-button-toggle>
        {{toggleBtn.checked}}
    </div>
    
    <!-- BUTTONS GROUP -->
    <div>
        <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
            <mat-button-toggle value="angular">Angular</mat-button-toggle>
            <mat-button-toggle value="react">React</mat-button-toggle>
            <mat-button-toggle value="vue">Vue</mat-button-toggle>
        </mat-button-toggle-group>
        {{toggleGroup.value}}
    </div>

</div>
<!-- BUTTONS -->

<!-- ICON + BADGES -->
<div class="container container_header">
    <h2><strong>3) Icons + Badges</strong></h2>
</div>
<div class="container">
    <div>
        <mat-icon color="primary">grade</mat-icon>
    </div>
    
    <div>
        <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notifications</span>
    </div>
    <div>
        <span matBadge="5" matBadgePosition="below before">Notifications</span>
    </div>
    <div>
        <span matBadge="5" matBadgePosition="below after">Notifications</span>
    </div>
    <div>
        <span matBadge="5" matBadgePosition="above before">Notifications</span>
    </div>
    
    <div>
        <span matBadge="5" matBadgeSize="small">Notifications</span>
    </div>
    <div>
        <span matBadge="5" matBadgeSize="medium">Notifications</span>
    </div>
    <div>
        <span matBadge="5" matBadgeSize="large">Notifications</span>
    </div>
    
    <div>
        <span matBadge="5" matBadgeColor="primary">Notifications</span>
    </div>
    <div>
        <span matBadge="5" matBadgeColor="accent">Notifications</span>
    </div>
    <div>
        <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
    </div>
</div>
<!-- /ICON + BADGES -->


<!-- SPINNER -->
<div class="container container_header">
    <h2><strong>4) Spinner</strong></h2>
</div>
<div class="container">
    <div>
        <mat-progress-spinner value="40"></mat-progress-spinner>
    </div>
    
    <div>
        <mat-spinner color="accent" *ngIf="showSpinner"></mat-spinner>
        <button (click)="loadData()">Load Data</button>
    </div>
    
    <div>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>    
</div>
<!-- /SPINNER -->

<!-- NAVBAR -->
<div class="container container_header">
    <h2><strong>5) Navbar</strong></h2>
</div>
<div class="container">
    <mat-toolbar color="primary" class="navbar">
        <div>Codevolution</div>
        <div>
            <span>Home</span>
            <span>About</span>
            <span>Services</span>
        </div>
    </mat-toolbar>
</div>
<!-- /NAVBAR -->

<!-- SIDENAV -->
<div class="container container_header">
    <h2><strong>6) Sidenav</strong></h2>
</div>
<div class="container">
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" (opened)="log('Opened')" (closed)="log('Closed')"  [(opened)]="opened">Sidenav</mat-sidenav>
        <mat-sidenav-content>Main
            <button (click)="opened=!opened">Toggle Opened</button>
            <button (click)="sidenav.open()">Open</button>
            <button (click)="sidenav.close()">Close</button>
            <button (click)="sidenav.toggle()">Toggle</button>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!-- /SIDENAV -->

<!-- MENU -->
<div class="container container_header">
    <h2><strong>7) Menu</strong></h2>
</div>
<div class="container">
    <!-- first menu -->
    <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
    <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
        <button mat-menu-item>BackEnd</button>
    </mat-menu>
    <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Angular</button>
        <button mat-menu-item>React</button>
        <button mat-menu-item>Vue</button>
    </mat-menu>
    
    <!-- second menu -->
    <mat-menu #lazyMenu="matMenu">
        <ng-template matMenuContent let-name="name" let-hobby="hobby">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Hobby is {{hobby}}</button>
            <button mat-menu-item>Log out {{name}}</button>
        </ng-template>
    </mat-menu>
    <button 
        mat-raised-button 
        [matMenuTriggerData]="{name: 'Vishwas', hobby:'football'}" 
        [matMenuTriggerFor]="lazyMenu"
        >Vishwas
    </button>
    <button 
        mat-raised-button 
        [matMenuTriggerData]="{name: 'Codevolution', hobby:'teaching'}" 
        [matMenuTriggerFor]="lazyMenu"
        >Codevolution
    </button>
</div>
<!-- /MENU -->

<!-- LIST -->
<div class="container container_header">
    <h2><strong>8) List</strong></h2>
</div>
<div class="container">
    <mat-list dense>
        <mat-list-item>Item1</mat-list-item>
        <mat-list-item>Item2</mat-list-item>
        <mat-list-item>Item3</mat-list-item>
    </mat-list>
    
    <mat-nav-list>
        <a mat-list-item href="#"> Home</a>
        <a mat-list-item href="#"> About</a>
        <a mat-list-item href="#"> Services</a>
    </mat-nav-list>

    <mat-list>
        <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <h3 matLine>Heading</h3>
            <p matLine>Line</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon matListIcon>folder</mat-icon>
            <h3 matLine>Heading 2</h3>
            <p matLine>Line 2</p>
        </mat-list-item>
    </mat-list>
</div>
<!-- /LIST -->

<!-- GRID LIST -->
<div class="container container_header">
    <h2><strong>9) Grid List</strong></h2>
</div>
<div class="container">
    <mat-grid-list 
    cols="2" 
    rowHeight="fit" 
    style="height: 200px;"
    gutterSize="10px"
    >
    <mat-grid-tile colspan="2">Grid 1</mat-grid-tile>
    <mat-grid-tile rowspan="2">Grid 2</mat-grid-tile>
    <mat-grid-tile>Grid 3</mat-grid-tile>
    <mat-grid-tile>Grid 4</mat-grid-tile>
    <mat-grid-tile>Grid 5</mat-grid-tile>
    <mat-grid-tile>Grid 6</mat-grid-tile>
</mat-grid-list>
</div>
<!-- /GRID LIST -->

<!-- EXPANSION PANEL -->
<div class="container container_header">
    <h2><strong>10) Expansion Panel</strong></h2>
</div>
<div class="container">
    <mat-accordion multi="true" hideToggle>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Angular Fundamentals
                </mat-panel-title>
                <mat-panel-description>
                    Total Duration: 3 hours
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the panel content. bla bla bla</p>
            <mat-action-row>
                <button mat-button>Enroll</button>
            </mat-action-row>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Angular Material
                </mat-panel-title>
                <mat-panel-description>
                    Total Duration: 2 hours
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the panel content. bla bla bla</p>
            <mat-action-row>
                <button mat-button>Enroll</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<!-- /EXPANSION PANEL -->

<!-- CARDS -->
<div class="container container_header">
    <h2><strong>11) Cards</strong></h2>
</div>
<div class="container">
    <mat-card style="width: 300px;">
        <mat-card-title>
            Card Title
        </mat-card-title>
        <mat-card-content>
            This is the card content
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button>Login</button>
        </mat-card-actions>
    </mat-card>
</div>
<!-- /CARDS -->

<!-- TABS -->
<div class="container container_header">
    <h2><strong>12) Tabs</strong></h2>
</div>
<div class="container">
    <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
        <mat-tab label="Angular">Angular Content</mat-tab>
        <mat-tab label="React">React Content</mat-tab>
        <mat-tab label="Vue">Vue Content</mat-tab>
    </mat-tab-group>
</div>
<!-- /TABS -->

<!-- STEPPER -->
<div class="container container_header">
    <h2><strong>13) Stepper</strong></h2>
</div>
<div class="container">
    <mat-horizontal-stepper linear>
        <mat-step label="Shipping Address" completed="true">
            <p>Shipping Address Details</p>
        </mat-step>
        <mat-step label="Billing Address" completed="false" optional>
            <p>Billing Address Details</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Place Order" completed="false">
            <p>Order Details</p>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<!-- /STEPPER -->

<!-- INPUT -->
<div class="container container_header">
    <h2><strong>14) Input</strong></h2>
</div>
<div class="container">
    <div>
        <mat-form-field appearance="legacy" color="accent">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field appearance="fill" color="warn">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field floatLabel="never">
            <mat-label>Name</mat-label>
            <input matInput required>
            <mat-hint align="end">Min 5 characters</mat-hint>
        </mat-form-field>
    </div>
</div>
<!-- /INPUT -->

<!-- SELECT -->
<div class="container container_header">
    <h2><strong>15) Select</strong></h2>
</div>
<div class="container">
    <mat-form-field>
        <mat-label>Topic</mat-label>
        <mat-select [(value)]="selectedValue">
            <mat-option>None</mat-option>
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
        </mat-select>
    </mat-form-field>
    {{selectedValue}}

    <mat-form-field>
        <mat-label>Topic</mat-label>
        <mat-select [(value)]="selectedValue2" multiple>
            <mat-optgroup label="Web">
                <mat-option value="angular">Angular</mat-option>
                <mat-option value="react">React</mat-option>
                <mat-option value="vue">Vue</mat-option>
            </mat-optgroup>
            <mat-optgroup label="Mobile">
                <mat-option value="ionic">Ionic</mat-option>
                <mat-option value="reactnative">React Native</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    {{selectedValue2}}
</div>
<!-- /SELECT -->

<!-- AUTOCOMPLETE -->
<div class="container container_header">
    <h2><strong>16) Autocomplete</strong></h2>
</div>
<div class="container">
    <form>
        <mat-form-field>
            <input 
                type="text" 
                matInput 
                [matAutocomplete]="auto"
                [formControl]="myControl"
            >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<!-- /AUTOCOMPLETE -->

<!-- CHECKBOX + RADIO -->
<div class="container container_header">
    <h2><strong>17) Checkboox + Radio</strong></h2>
</div>
<div class="container">
    CHECK-BOX
    <hr>

    <mat-checkbox>
        Subscribe
    </mat-checkbox>
    <br>
    <mat-checkbox labelPosition="before">
        Subscribe
    </mat-checkbox>
    <br>
    <mat-checkbox color="primary">
        Subscribe
    </mat-checkbox>
    <br>
    <mat-checkbox color="warn">
        Subscribe
    </mat-checkbox>

    <hr>
    RADIO BUTTON
    <hr>

    <mat-radio-group>
        <mat-radio-button class="radio" value="angular" color="primary">Angular</mat-radio-button>
        <mat-radio-button class="radio" value="react">React</mat-radio-button>
        <mat-radio-button class="radio" value="vue" color="warn">Vue</mat-radio-button>
    </mat-radio-group>
</div>
<!-- /CHECKBOX + RADIO -->

<!-- DATE PICKER -->
<div class="container container_header">
    <h2><strong>18) Date Picker</strong></h2>
</div>
<div class="container">
    <mat-form-field>
        <input 
            matInput 
            [matDatepicker]="myDatePicker" 
            [min]="minDate" 
            [max]="maxDate"
            [matDatepickerFilter]="dateFilter"
        >
        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker ></mat-datepicker>
    </mat-form-field>
</div>
<!-- /DATE PICKER -->

<!-- TOOLTIP -->
<div class="container container_header">
    <h2><strong>19) Tooltip</strong></h2>
</div>
<div class="container">
    <button 
        mat-raised-button 
        matTooltip="Welcome to Codevolution"
        matTooltipPosition="after"
        matTooltipShowDelay="900"
        matTooltipHideDelay="900"
    >Hello</button>
</div>
<!-- /TOOLTIP -->

<!-- SNACKBAR -->
<div class="container container_header">
    <h2><strong>20) Snackbar</strong></h2>
</div>
<div class="container">
    <button 
        mat-button 
        (click)="openSnackBar('item deleted', 'Dismiss')"
    >Show Snack bar</button>

    <!-- con timing close -->
    <button 
        mat-button 
        (click)="openSnackBar2('item deleted', 'Undo')"
    >Show Snack bar(see console log)</button>
</div>
<!-- /SNACKBAR -->

<!-- DIALOG -->
<!-- inserire il componente dialog anche nel entryComponents della module -->
<div class="container container_header">
    <h2><strong>21) Dialog</strong></h2>
</div>
<div class="container">
    <button mat-raised-button (click)="openDialog()">Open Custom Dialog Component</button>
    <button mat-raised-button (click)="openDialog2()">Open Custom Dialog Component with result log</button>
</div>
<!-- /DIALOG -->

<!-- DATA TABLE -->
<div class="container container_header">
    <h2><strong>22) Data Table</strong></h2>
</div>
<div class="container">
    <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
    </mat-form-field>

    <div>
        <mat-table [dataSource]="dataSource" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell mat-sort-header *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator 
            [pageSizeOptions]="[5, 10, 20]" 
            showFirstLastButtons
        ></mat-paginator>
    </div>
</div>
<!-- /DATA TABLE -->

<!-- VIRTUAL SCROLLING -->
<div class="container container_header">
    <h2><strong>23) Virtual Scrolling</strong></h2>
</div>
<div class="container">
    <cdk-virtual-scroll-viewport itemSize="100" class="scroll_container">
        <div *cdkVirtualFor="let number of numbers" class="number">
            {{number}}
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<!-- /VIRTUAL SCROLLING -->






